<html>
<body style="font-family: Arial, sans-serif; background-color: #FEFCFF">

    <div class="container" style="max-width: 600px; margin: 20px auto; background-color: #F1F7ED; padding: 20px; border-radius: 12px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);">
        <p style="margin-bottom: 20px; line-height: 1.6;">Dear <strong>@Model.Email</strong>,</p>

        <p style="margin-bottom: 20px; line-height: 1.6;">
            We are pleased to invite you to join the learning platform.
        </p>

        <p style="margin-bottom: 20px; line-height: 1.6;">
            To get started, register on our platform by clicking the button below:
            <br>
            <a href="@Model.Url" style="padding: 5px 30px; font-size: 16px; color: #E5EAFA; text-decoration: none; background-color: #1B2845; border-radius: 5px; margin: 20px 230px; display: inline-block;" onmouseover="this.style.backgroundColor='#3A4E78'" onmouseout="this.style.backgroundColor='#1B2845'">Join up</a>
        </p>

        <p style="line-height: 1.6;">Best regards,<br>Study Hub</p>
    </div>

</body>
</html>
